<style>
    .blue_place{color: #428bca !important;font-size: 14px !important;}
    .modal-header > .close {right:-30px; top:-12px;}
    .upload-file{border-bottom: 1px solid rgba(0,0,0,0.12); padding-top:9px;}
    select .form-control:{height:68px !important;}
    .cells{box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);}
    .singleSelect{width:100%; border-bottom:1px solid #e0e0e0;}
    .SumoSelect > .optWrapper {right:0px !important;}
    .SumoSelect > .CaptionCont > span.placeholder {color:#ccc !important;}
    .singleSelect > .CaptionCont > label > i {color:#000;}
    .SumoSelect > .optWrapper.open {top:33px !important;}
    .mb25{margin-bottom: 25px;}
    .panel-heading b{color:#428bca; margin-right:20px;}.panel-heading i{color:#428bca;}.panel-heading span{color:#428bca}
    .panel-info > .panel-heading { color: #ffffff !important; background-color: #2196f3; border-color: #2196f3;}
    .panel-info > .panel-heading span{color:#fff;}
    .panel-info > .panel-heading i{color:#fff;}
    .panel-info > .panel-heading b{color:#fff;}
    .right a span{color:#428bca;}
    .exp_sing{padding:8px !important; margin:0px !important; background-color:#f5f5f5 !important;}
    .exp_sing b{color:#535353}
    .singPad{padding:5px 10px;}
    .SumoSelect {width:100%;}
    .selectdrop{overflow-y:scroll;}
    .form-group {margin-bottom:0px !important;}
    .modal-header > .close {right:-30px; top:-12px;}
    .upload-file{border-bottom: 1px solid rgba(0,0,0,0.12);}
    .singleSelect{width:100%; border-bottom:1px solid #e0e0e0;}
    .SumoSelect > .optWrapper {right:0px !important;}
    .SumoSelect > .CaptionCont > span.placeholder {color:#ccc !important;}
    .singleSelect > .CaptionCont > label > i {color:#000;}
    .SumoSelect > .optWrapper.open {top:33px !important;}
</style>


<div class="modal-style" ng-controller="expensesMappingPopUpCntl">	<!-- wrapper for specific style -->
	<div class="modal-header clearfix">
		<h4 class="modal-title">Expenses Status Mapping</h4>
		<span class="close ion ion-android-close" ng-click="modalClose()" md-ink-ripple></span>
	</div>
	<div class="modal-body" ng-controller="addingform">
        <div class="row form-group">
            <form class="form-horizontal forms_add" name="expensesMappingForm"
                reset-directive="singleViews1"
                data-went="#/expense" method="POST" 
                url="services/expense_tracker/expense_status_change" 
                ng-submit="submitStatusChange()" novalidate>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <label> Reference </label>
                        </div>
                        <div class="col-sm-4">
                            <label> Existing Level </label>
                        </div>
                        <div class="col-sm-6">
                            <label> Map To Level </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <div style="padding:8px 0px;"> {{editData.bill_number}} </div>
                        </div>
                        <div class="col-sm-4"> 
                            <div style="padding:8px 0px;"> {{editData.approval_level}} </div>
                        </div>
                        <div class="col-sm-6">
                            <input type="hidden" id="expenses_alias" name="expenses_alias" ng-model="editData.expenses_alias" value="{{editData.expenses_alias}}"/>
                            <div ng-controller="appDropCntrl">
                                <select class="form-control SlectBox" id="mappedStatus" name="mappedStatus" value="{{editData.approval_level1}}" required>
                                    <option value="" style="display:none">Approval Status</option>
                                    <option ng-repeat="aplevels in firstDrop" value="{{aplevels.alias}}">{{aplevels.name}}</option>
                                    <option ng-if="firstDrop.length==0">No Records</option>
                                </select>
                                <span class="help-block" ng-if="expensesMappingForm.mappedStatus.$dirty && expensesMappingForm.mappedStatus.$invalid">
                                    <span>Mapped Status is Required</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <textarea rows="2" name="remarks" ng-model="editData.remarks" 
                        class="form-control resize-v" placeholder="Remarks" 
                        required></textarea>
                        <span class="help-block" ng-if="expensesMappingForm.remarks.$dirty && expensesMappingForm.remarks.$invalid">
                            <span>Remarks is Required</span>
                        </span>
                    </div>
                    <div class="col-sm-12" style="text-align: center; margin-top: 20px;">
                        <button type="submit" click-once class="btn btn-info btn-sm"> Save </button>
                        <button type="button" class="btn btn-info btn-sm" ng-click="modalClose()"> Cancel </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    setInterval(function(){
        $('.forms_add').find('.SumoSelect').addClass('singleSelect');
    },0);
</script>