<style>
    .form-group {margin-bottom:15px;}
    .form-group div.col-sm-4{margin-bottom:15px;}
    .modal-header > .close {right:-30px; top:-12px;}
    .selectdrop {
        overflow-y: scroll
    }
    .singleSelect {
        width: 100%;
        border-bottom: 1px solid #e0e0e0
    }
    .SumoSelect>.optWrapper {
        right: 0!important
    }
    .SumoSelect>.CaptionCont>span.placeholder {
        color: #ccc!important
    }
    .singleSelect>.CaptionCont>label>i {
        color: #000
    }
    .SumoSelect>.optWrapper.open {
        top: 33px!important
    }
    </style>
    <div>
    <div class="modal-style" ng-controller="emailAndSmsRecipientEditCntl">	<!-- wrapper for specific style -->
        <div class="modal-header clearfix">
            <h4 class="modal-title">Edit E-Mail and SMS Recipient</h4>
            <span class="close ion ion-android-close" ng-click="modalClose()"></span>
        </div>
        <div class="modal-body" ng-controller="addingform">
            <form class="form-horizontal forms_add" reset-directive="singleViews" name="emailSmsRecipientForm" data-went="#/settings/email_sms_recipient/view" method="post" url="services/settings/email_sms_recipient_update" ng-submit="sendPost()" novalidate>
                    <input type="hidden" name="alias" value="{{singleViews.alias}}" ng-model="singleViews.alias" >
                    <input type="hidden" name="communication_type" value="{{singleViews.communication_type}}" ng-model="singleViews.communication_type" >
                    <input type="hidden" name="entity_label" value="{{singleViews.entity_label}}" ng-model="singleViews.entity_label" >
                    <div class="row form-group text-uppercase">
                        <div class="col-sm-10 col-sm-offset-1 mb10">
                            <md-input-container flex="" class="md-default-theme md-input-has-value">
                                <label for="input_00A">When</label>
                                <input value="{{singleViews.entity_label}}" ng-model="singleViews.entity_label" class="ng-pristine ng-valid md-input ng-touched" readonly>              
                            </md-input-container>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1 mb10">
                            <md-input-container flex="" class="md-default-theme md-input-has-value">
                                <label for="input_00A">Communication Type</label>
                                <input value="{{singleViews.communication_type}}" ng-model="singleViews.communication_type" class="ng-pristine ng-valid md-input ng-touched" readonly>              
                            </md-input-container>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1 mb10">
                            <label class="selectlabel">"TO" : Users Notified</label>
                            <select class="form-control selectdrop testSelAll2" name="send_to[]" placeholder="TO : Users Notified" ng-model="singleViews.send_to"  multiple="multiple" required>
                                <option value="" selected="" disabled="disabled">"TO" : Users Notified</option>
                                <option ng-repeat="privilege in firstDrop.privilegeDetails" 
                                value="{{privilege.privilege_alias}}" ng-selected="singleViews.send_to.indexOf(privilege.privilege_alias) >= 0">{{privilege.privilege_name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1 mb10" ng-if="singleViews.communication_type == 'email'">
                            <label class="selectlabel">"CC" : Users Notified</label>
                            <select class="form-control selectdrop testSelAll2" name="send_cc[]" placeholder="CC : Users Notified" ng-model="singleViews.send_cc"  multiple="multiple" required>
                                <option value="" selected="" disabled="disabled">"CC" : Users Notified</option>
                                <option ng-repeat="privilege in firstDrop.privilegeDetails" 
                                value="{{privilege.privilege_alias}}" ng-selected="singleViews.send_cc.indexOf(privilege.privilege_alias) >= 0">{{privilege.privilege_name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-sm-offset-5">
                            <button type="submit" click-once class="btn btn-info btn-sm"
                            ng-disabled="emailSmsRecipientForm.privilege_alias.$dirty && emailSmsRecipientForm.privilege_alias.$invalid ||
                            emailSmsRecipientForm.grantable.$dirty && emailSmsRecipientForm.grantable.$invalid ||
                            emailSmsRecipientForm.send_to.$dirty && emailSmsRecipientForm.send_to.$invalid ||
                            emailSmsRecipientForm.send_cc.$dirty && emailSmsRecipientForm.send_cc.$invalid">Update</button>
                            <button type="reset" class="btn btn-info btn-sm" ng-click="modalClose();">Close</button>
                        </div>
                   </div>
              </form>  
        </div>
    </div>
    </div>
    <script>
        setInterval(function(){
            $('.testSelAll2').SumoSelect();
            //$('.testSelAll3').SumoSelect({selectAll:true});
            $('.forms_add').find('.SumoSelect').addClass('singleSelect');
        },0);
    </script>