@charset "utf-8";
/* CSS Document */
/*    body{overflow:hidden;}*/
   .table > thead > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td {padding:10px; text-align:center; font-size:12px;}
   .padding-10{padding:9px;}
   .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
 	 background-color: #428bca;
  	border-color: #428bca;}
	.table > thead > tr > th{background-color:#428bca; color:#fff; border-color:#428bca; padding:7px;}
	.table > tbody > tr {cursor:pointer;}
	.input-sm{height:39px !important;}
	/*.border-none{border:none !important;}*/
	.datepicker {border:1px solid transparent; padding:4px 10px; display:block;}
	.anchor_bottom {border:1px solid transparent; padding:16px 10px; display:block;}
	.border-bottom{ border-bottom:1px solid #e0e0e0;}
	.datepicker:focus{border-bottom:2px solid #428bca !important;}
	.page-count{width:100px; height:28px !important; margin-right:10px; display:inline-block;}
	 .hidden{display:none;}
	.tktviewClose{font-size:18px; cursor:pointer; line-height:1; padding:4px;}
	.tktviewClose:hover{color:#e91e63;}
	 .right a{color:#fff;}
	 .breadcrumb li a{color:#428bca;}
	 .fnt-size-11{font-size:11px;}
	 .drop-box{right:0px !important; min-width:100px; left:auto !important; margin-top:11px;}
	/*jagan*/
	/*.sy th{padding:0 !important;}
	.sy th a{padding:5px !important;}*/
	.panel{border:none;}
	.tktid {cursor:pointer; color:#fff !important; padding:10px;}
	.droptxt1{/*width: 120px;*/ padding:3px !important; margin:0 !important;float:left; height:26px; position:absolute;font-size: 12px;font-weight:100;border-radius: 2px !important;}
	.inptClose{float: right; position: relative;right: 0px;color: #403E3E; top:1px; z-index:0; cursor: pointer;}
	.SumoSelect > .CaptionCont {border:none !important;background-color:transparent !important; cursor:pointer;}
	.SumoSelect:focus > .CaptionCont,.SumoSelect:hover > .CaptionCont {box-shadow:none !important;border-color:transparent !important;}
	.SumoSelect > .CaptionCont > span { padding-right:10px !important;}
	.SumoSelect > .CaptionCont > label {right: -8px; bac: #fff; color: #fff !important;}
	.SumoSelect > .CaptionCont > span.placeholder {color: #fff;font-style: inherit;cursor: pointer;}
	.SlectBox {min-width: 90px !important; width:100% !important; padding:5px 0px;}
  	.SumoSelect > .optWrapper.open {top: 36px; display:block;}
  	.SumoSelect > .optWrapper {top: 30px;min-width: 155px !important; right:-30px !important; left:auto !important; display:none;}
	.SumoSelect .select-all{text-align:left !important; color:#000;}
	.SumoSelect > .optWrapper > .options > li label{color:#000; text-align:left; margin-bottom:0px;}
	/*jagan*/
	/*---loadmore----*/
	#myList tr{ display:none;}
	.table-footer{color:#fff; font-weight:600; font-size:14px;cursor:pointer; padding:8px 22px !important; text-align:center; background-color: #428bca;}
	.table-footer span{padding:10px 25px;}
	/*---Table Layout----*/
	.table {margin-bottom:0px;}
	 table {table-layout:fixed;}
	.div-table-content {height:400px; overflow-y:auto;}
	/*@media screen and (min-width: 636px) and (max-width: 767px) {
	.table-height{max-height:510px; overflow-y:scroll !important;}
	}
	@media screen and (min-width: 636px) and (max-width: 1353px) {
	.div-table-content {max-height:428px;overflow-y:auto;}
	}
	@media screen and (min-width: 636px) and (max-width: 1240px) {
	.div-table-content {max-height:422px;overflow-y:auto;}
	}
	@media screen and (min-width: 636px) and (max-width: 992px) {
	.div-table-content {max-height:400px;overflow-y:auto;}
	.tktid {padding: 10px 4px;}
	}
	@media screen and (max-width: 635px) {
	.div-table-content {max-height:424px;overflow-y:auto;}
	}
	@media screen and (max-width: 590px) {
	.div-table-content {max-height:348px !important;overflow-y:auto;}
	.tktid {padding:12px 5px;}
	}*/
	@media screen and (min-width: 636px) and (max-width: 1056px) {
	.tktid {padding: 10px 4px;}
	}
	@media screen and (min-width: 636px) and (max-width: 1241px) {
	.tktid {padding: 12px 9px;}
	}
	#noresults{display:none;}
	/* Let's get this party started */
	::-webkit-scrollbar {width: 5px; height:10px;}
	/* Track */
	::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 10px;border-radius: 10px;}
	/* Handle */
	::-webkit-scrollbar-thumb {-webkit-border-radius: 10px;border-radius: 10px;background:rgba(204, 206, 208, 0.39); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); }
	::-webkit-scrollbar-thumb:window-inactive {background:rgba(31, 29, 29, 0.8); }
	/*-----floating-button------*/
	  .compose-btn {
	  width: 46px;
	  height: 46px;
	  z-index: 1000;
	  border-radius: 100%;
	  position: fixed;
	  clear:both;
	  top:90%;
	  right: 25px;
	}
	.table-height{min-height:500px;}
	.clear{clear:both;}

/*----Login Pages-------*/
#bg {
	  position: fixed; 
	  top: 0%; 
	  left: 0%; 
	  width: 100%; 
	  height: 100%;
	}
	.backgroundImg {
	  position: absolute; 
	  top: 180px; 
	  left: -180px; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
	.matt-black{height:100%; width:100%; background-color:rgba(0,0,0,0.14); z-index:10005; position:absolute;}
	.version {
	position: relative;
    color: #000 !important;
    top: 3px !important;
    font-size: 14px;
    display: block;
    text-align: right;	
	}
	small{text-transform:none !important;}
	.loginforms-bdy{width:100%; height:100%; position:relative; margin-top:8% !important;}
/*----Export button---*/
 .export-btn:hover{border-bottom:2px solid #428bca; color:#428bca;}
 /*----Select Dropdown---*/
 .selectdrop{height:58px !important; padding:6px 0px !important;}
 .editselectdrop{height:32px !important; padding:6px 0px !important;}
 .selectlabel{font-size: 11px !important; color: rgba(0,0,0,0.54) !important; padding:1px !important;}
 .tabing-panel{max-height:520px; overflow-y:scroll;}
 .mt40{margin-top:40px;}
 .mt46{margin-top:46px;}
 
 /*---notocations-css----*/
 .notif_height{height:200px; overflow-y:auto;}
 .pad-12{padding:12px;}
 .notifi_page_view{max-height:500px; overflow-y:auto;}
 .fnt-10{font-size:10px;}
 .ml54{margin-left:54px;}
 .fnt-12{font-size:12px;}
 /*-----validations color----*/
select.form-control.selectdrop.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required.ng-touched {
	border-color: #8ee8c4;
}
select.form-control.editselectdrop.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required.ng-touched {
	border-color: #8ee8c4;
}
select.form-control.selectdrop.ng-dirty.ng-valid-parse.ng-invalid.ng-invalid-required.ng-touched {
    border-color: rgb(244,67,54);
}
select.form-control.editselectdrop.ng-dirty.ng-valid-parse.ng-invalid.ng-invalid-required.ng-touched {
    border-color: rgb(244,67,54);
}
textarea.form-control.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required.ng-touched {
	border-color: #8ee8c4;
}
textarea.form-control.ng-dirty.ng-valid-parse.ng-invalid.ng-invalid-required.ng-touched {
    border-color: rgb(244,67,54);
}
/*---dashboard---*/
.ticketsetting{width:150px; min-height:35px; background-color:#fff; display:none; position: absolute;z-index: 10;right: 10px; box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);}
.ticketsetting ul{list-style:none; padding:0px !important; margin-bottom:0px !important;}
.ticketsetting ul li{border-bottom:1px solid #efefef; cursor:pointer;}
.page-dashboard .dash-head{padding:5px 20px !important;}
.pivot-pad{padding: 8px 15px !important;}
.ticket-grandtotal{  background-color: #428bca;color: #fff;font-weight: 700;}
.drop-box{min-width:150px; left:auto !important; margin-top:11px; font-size:12px;right: 0px; max-height:150px; overflow-y:scroll; position:absolute;}
.right{float:right !important;}

/*-----onlinetickets-----*/
.topmenu {
    background-color:#000 !important;
    color: #FFF;
    padding: 0 !important;
    height: 40px;
	    position: absolute;
    right: 0px;
    left: 0px;
}
.topmenu h1 {
    font-size: 22px;
    font-weight: bold;
    margin: 0 !important;
    line-height: 35px;
}
.topmenu h1 a{color:#fff;}
.ticket-mt46{margin-top:46px;}
@media only screen and (min-width : 320px) and (max-width: 408px){.ticket-mt46 {margin-top:125px;}}
@media only screen and (min-width : 409px) and (max-width: 479px){.ticket-mt46 {margin-top:103px;}}
@media only screen and (min-width : 478px) and (max-width: 597px) {.ticket-mt46 {margin-top:103px;}}
@media only screen and (min-width : 598px) and (max-width: 703px) {.ticket-mt46 {margin-top:81px;}}
@media only screen and (min-width : 704px) and (max-width: 767px) {.ticket-mt46 {margin-top:46px;}}
#ticketviesw{position:fixed; right:0px;}
.sendMail{
	position: absolute;
    top: 47px;
    right: 0px;
    z-index: 10000;
    display: none;
    width: 276px;
    padding: 1px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
	height:150px;
    line-break: auto;}
	.popTitle{padding: 8px 14px; margin: 0;font-size: 14px; font-weight: normal;line-height: 18px;background-color: #f7f7f7; border-bottom: 1px solid #ebebeb; -webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
	/*------------searchbar in sumoselect---------------*/
.textSearch { border-color: #428bca; border: 1px solid #428bca; width: 100%; padding:4px;color: #292828;font-weight: 500;}
.backGround{background-color:#428bca; padding:5px;}
.backGround > .row > .aa{text-align:center;color: #fff;font-weight: 600;font-size: 12px;}
.wrd_break{word-wrap: break-word;}

/*Choose File Classes*/
.fileUpload {position: relative; overflow: hidden; padding-bottom: 7px;}
.fileUpload input.upload { position: absolute; top: 0; right: 0; margin: 0; padding: 4px; font-size: 20px;cursor: pointer; opacity: 0; filter: alpha(opacity=0);}
.uploadFile{position: absolute; padding: 6px 15px 6px 39px; background-color: transparent !important;}
.filesRow{overflow:hidden; margin-top:22px;}
.oldfilesRow{margin:0px; overflow:hidden;}
.loadingg{position:fixed;margin:0 auto;left:0;right:0;top:0;height:100%;z-index:999999999; background:RGBA(0,0,0,0.3);}
.loadingg .gfff{position: relative;height: auto;top: 50%;bottom: 0;left: 0;right: 0;}
.enersysLod{position:absolute;margin:0 auto;left:0;right:0;top:0;height:100%;z-index:999999999; background:rgba(225,225,225,0.2);}
.enersysLod .gfa{position: relative;height: auto;top: 40%;bottom: 0;left: 0;right: 0;}
.enersysLod .textLod{position: relative;height: auto;top: 40%;bottom: 0;left: 0;right: 0;}
@media only screen and (max-width: 599px){.loadingg .gfff {left: 50%;}.enersysLod .gfa{left: 50%;}.enersysLod .textLod{left: 2%; text-align: center;}}
.padding-none { padding: 0px !important;}
.tabHeight{height:39px !important;}
.fnt-20 {font-size: 20px;}
.noRec{text-align:center; padding:8px 10px; font-weight:bold;}
.margin-none {margin:0px;}
.upper{text-transform:uppercase;}